* {
  box-sizing: border-box;
}

body{
  height: 100vh;
} 

.content-container{
  width: 100%;
  height: 100%;
  padding-top: 250px; 
  display:flex;
  justify-content: center;
}

.left-container {
  width: 620px;
  padding: 50px;
  padding-top: 20px;
}

.right-container {
  width: calc(100% - 620px);
  /* min-width: 1000px; */
  height: 100%;
  padding: 50px;
  padding-top: 20px;
  color: black;
}

.mg-top20 {
  margin-top: 20px;
}


td {
  font-size: 20px;
}

.addWorkout {
  background-color: rgb(224, 015, 026);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addWorkout:hover {
  background-color : rgb(184, 181, 181);
  cursor: pointer;
}

.workout-info {
  background-color: rgb(224, 015, 026);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.workout{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workout>div {
  color: white;
}

.workout-name {
  font-weight: bold;
  font-size: 15px;
}

.workout-record {
  width: 70%;
  border-collapse: separate;
  border-spacing: 15px;
  text-align: center;
}

.workout-record>thead>tr>td {
  color:white; 
}

.workout-record>tbody>tr>td {
  background-color: antiquewhite;
  border-radius: 10px;
}

#workout-container {
  height: 410px;
  overflow: scroll;
}

#workout-container::-webkit-scrollbar{
  display: none;
}