<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="exerciseMapper">
	<resultMap id="exerciseResultSet" type="Exercise">
		<result column="ex_no" property="exerciseNo"/>
		<result column="bpart_name" property="bodyPart"/>
		<result column="ex_name" property="exerciseName"/>
	</resultMap>
	
	<resultMap id="UserExerciseRecordResultSet" type="ExerciseRecord">
		<result column="EXR_NO" property="exRecordNo"/>
		<result column="USER_NO" property="exRecordUser"/>
		<result column="EX_NO" property="exName"/>
		<result column="EXR_DATE" property="exRecordDate"/>
		<result column="EXR_SET" property="exRecordSet"/>
		<result column="EXR_WEIGHT" property="exRecordWeight"/>
		<result column="EXR_COUNT" property="exRecordCount"/>
	</resultMap>

	<select id="selectExerciseList" resultMap="exerciseResultSet">
		SELECT EX_NO,
			   EX_NAME,
			   BPART_NAME
		FROM EXERCISE
		JOIN BODYPART USING (BPART_NO)
		ORDER BY EX_NO
	</select>

	<insert id="insertExerciseRecord" parameterType="hashmap">
		INSERT INTO EX_RECORD(
			EXR_NO,
			USER_NO,
			EX_NO,
			EXR_SET,
			EXR_WEIGHT,
			EXR_COUNT
		) VALUES (
			SEQ_EXRNO.NEXTVAL,
			1,
			${exerciseNo},
			${exSet},
			${exWeight},
			${exCount}
		)			
	</insert>
	
	<select id="SearchUserExerciseRecord" parameterType="String" resultMap="UserExerciseRecordResultSet">
 		SELECT EXR_NO,
 				USER_NO,
 				EX_NO,
 				EXR_DATE,
 				EXR_SET,
 				EXR_WEIGHT,
 				EXR_COUNT
 		FROM MEMBER
 		JOIN EX_RECORD USING (USER_NO)
		WHERE USER_NICKNAME = #{nickname}
		AND STATUS = 'Y'
 	</select>
</mapper>