<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultSet">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_NICKNAME" property="userNickname"/>	
		<result column="USER_EMAIL" property="userEmail"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="GENDER" property="gender"/>
		<result column="AGE" property="age"/>
		<result column="USER_POINT" property="userPoint"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap id="UserPhysicalInfoResultSet" type="UserPhysicalInfo">
		<result column="PINFO_NO" property="pinfoNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="MEM_HEIGHT" property="memHeight"/>
		<result column="MEM_WEIGHT" property="memWeight"/>
		<result column="MEM_SMM" property="memSmm"/>
		<result column="MEM_BFP" property="memBep"/>
	</resultMap>
	
	<resultMap id="UserPictureResultSet" type="UserPicture">
		<result column="PIC_NO" property="picNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
	</resultMap>
	
	<insert id="insertMember" parameterType="Member">
		INSERT
		INTO MEMBER
		(
		USER_NO,
		USER_NAME,
		USER_NICKNAME,
		USER_EMAIL,
		USER_PWD,
		GENDER,
		AGE
		)
		VALUES
		(
		SEQ_UNO.NEXTVAL,
		#{userName},
		#{userNickname},
		#{userEmail},
		#{userPwd},
		#{gender},
		#{age}
		)
	</insert>
	<insert id="insertMemberInfo" parameterType="UserPhysicalInfo">
		INSERT INTO MEM_PHYSICAL_INFO (
                        PINFO_NO,
                        USER_NO
        )VALUES (
                SEQ_UPINO.NEXTVAL,
                SEQ_UNO.CURRVAL
        )
	</insert>
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT USER_NO,
				USER_NAME,
				USER_NICKNAME,
				USER_EMAIL,
				USER_PWD,
				GENDER,
				AGE,
				USER_POINT,
				ENROLL_DATE,
				MODIFY_DATE,
				STATUS
		FROM MEMBER
		WHERE USER_EMAIL = #{userEmail}
		AND USER_PWD = #{userPwd}
		AND STATUS = 'Y'
	</select>
	<select id="idCheck" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_EMAIL = #{checkId}
	</select>
	<select id="nicknameCheck" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_NICKNAME = #{checkNickname}
	</select>
	<select id="searchUserInfo" resultMap="memberResultSet">
 		SELECT USER_NO,
 				USER_NAME,
 				USER_NICKNAME,
 				USER_EMAIL,
 				USER_PWD,
 				GENDER,
 				AGE,
 				USER_POINT,
 				ENROLL_DATE,
 				MODIFY_DATE,
 				STATUS
 		FROM MEMBER
		WHERE USER_NICKNAME = #{nickname}
		AND STATUS = 'Y'
 	</select>
 	
 	<select id="searchUserPhysicalInfo" resultMap="UserPhysicalInfoResultSet">
 		SELECT PINFO_NO,
 				USER_NO,
 				MEM_HEIGHT,
 				MEM_WEIGHT,
 				MEM_SMM,
 				MEM_BFP
 		FROM MEMBER
 		JOIN MEM_PHYSICAL_INFO USING (USER_NO)
		WHERE USER_NICKNAME = #{nickname}
		AND STATUS = 'Y'
 	</select>
 	
 	<select id="searchUserPicture" resultMap="UserPictureResultSet">
 		SELECT PIC_NO,
 				USER_NO,
 				ORIGIN_NAME,
 				CHANGE_NAME,
 				FILE_PATH
 		FROM MEMBER
 		JOIN USER_PIC USING (USER_NO)
		WHERE USER_NICKNAME = #{nickname}
		AND STATUS = 'Y'
 	</select>
 	
 	<select id="findId" parameterType="Member" resultMap="memberResultSet">
 		SELECT USER_EMAIL
 		FROM MEMBER
 		WHERE USER_NAME = #{userName}
 		AND USER_NICKNAME = #{userNickname}
 		AND STATUS = 'Y'
 	</select>
 	<select id="findPwd" parameterType="Member" resultMap="memberResultSet">
 		SELECT USER_PWD
 		FROM MEMBER
 		WHERE USER_EMAIL = #{userEmail}
 		AND USER_NAME = #{userName}
 		AND USER_NICKNAME = #{userNickname}
 		AND STATUS = 'Y'
 	</select>
</mapper>